<div class="container-main-product-list">
  <div class="wrapper-product-navs">
    <div class="wrapper">
      <div
        class="container-product-navs"
        (mouseleave)="selectedCategory = null"
      >
        <span
          *ngFor="let category of productCategoryData; let i = index"
          (mouseenter)="selectedCategory = i"
          [ngClass]="{ selected: selectedCategory === i }"
          >{{ category.name }}
          <fa-icon
            *ngIf="category.subCategories.length"
            [icon]="chevronRight"
          ></fa-icon>
        </span>
        <div
          *ngIf="
            selectedCategory !== null &&
            productCategoryData[selectedCategory].subCategories.length
          "
          class="container-dropdown"
        >
          <div
            *ngFor="
              let subCat of productCategoryData[selectedCategory].subCategories
            "
            class="container-category-column"
          >
            <a
              href="javascript:void(0)"
              *ngFor="let item of subCat"
              (click)="navigate('products')"
              [ngClass]="{ bold: item.expand }"
              >{{ item.name }}
              <fa-icon *ngIf="item.expand" [icon]="caretRight"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="container-product-list-outer">
      <ng-container *ngIf="!products.length">
        <div class="container-skeleton">
          <div>
          <ngx-skeleton-loader
            count="4"
            [theme]="{ height: '15px' }"
            animation="pulse"
          ></ngx-skeleton-loader>
          </div>
          <div>
          <ngx-skeleton-loader
            count="5"
            [theme]="{ height: '15px' }"
            animation="pulse"
          ></ngx-skeleton-loader>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="products.length">
        <div class="container-filters">
          <section class="container-filter-title">
            <div class="filter-title">
              <h1>Filters</h1>
              <a href="javascript:void(0)">CLEAR ALL</a>
            </div>
            <div class="container-applied-filters">
              <div class="applied-filter">
                <fa-icon [icon]="xMark"></fa-icon>
                <span>Men</span>
              </div>
            </div>
          </section>
          <section class="container-filter-categories">
            <span>Categories</span>
            <div class="container-expand disabled">
              <div>
                <fa-icon [icon]="chevronRight" class="left"></fa-icon>
                <span>Clothing and Accessories</span>
              </div>
            </div>
            <div class="container-expand">
              <div>
                <fa-icon [icon]="chevronRight"></fa-icon>
                <span class="selected">Topwear</span>
              </div>
              <div class="subCat">
                <p>Shirts</p>
                <p>T-shirts</p>
              </div>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #genderToggle
              (click)="genderToggle.classList.toggle('expand')"
            >
              <span>gender</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: genderToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="genderToggle.classList.contains('expand')"
            >
              <label class="toggle disabled">
                <div class="fake-check">
                  <fa-icon [icon]="xMark"></fa-icon>
                </div>
                <span>Clear all</span>
              </label>
              <label class="toggle">
                <input type="checkbox" checked />
                <span>Men</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Women</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Boys</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Girls</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Boys & Girls</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Couple</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Baby Boys</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Baby Girls</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Baby Boys & Baby Girls</span>
              </label>
            </div>
          </section>
          <section class="container-filter-f_assured">
            <label for="f-a">
              <input type="checkbox" id="f-a" />
              <img src="assets/Icons/f-assured.png" alt="Flipkart Assured" />
            </label>
            <span class="question">?</span>
          </section>
          <section class="container-filter-price">
            <span>Price</span>
            <tui-range
              [max]="1000"
              [(ngModel)]="sliderVal"
              [min]="0"
              [step]="200"
              size="m"
            ></tui-range>
            <p class="slider">
              <span *ngFor="let a of [0, 1, 2, 3, 4]" class="slider-dot"></span>
            </p>
            <div class="container-select">
              <select>
                <option value="0">Min</option>
                <option value="300">₹300</option>
                <option value="500">₹500</option>
                <option value="700">₹700</option>
                <option value="1000">₹1000</option>
              </select>
              <span>to</span>
              <select>
                <option value="300">₹300</option>
                <option value="500">₹500</option>
                <option value="700">₹700</option>
                <option value="1000">₹1000</option>
                <option value="1001" selected>₹1000+</option>
              </select>
            </div>
          </section>
          <section class="container-filter-supercoin">
            <label for="spcoin">
              <input id="spcoin" type="checkbox" />
              <div class="supercoin">
                <span>supercoins price</span>
                <span
                  >Balance:
                  <img
                    src="assets/Icons/supercoin.webp"
                    alt="Supercoin"
                  />230</span
                >
              </div>
            </label>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #brandsToggle
              (click)="brandsToggle.classList.toggle('expand')"
            >
              <span>brand</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: brandsToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="brandsToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <div class="container-brand-search">
                  <fa-icon [icon]="search"></fa-icon>
                  <input type="text" placeholder="Search Brand" />
                </div>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>ADIDAS</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Allen Solly</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>BEWAKOOF</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Blackberrys</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>FLYING MACHINE</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>HERE&NOW</span>
              </label>
              <label class="toggle showMore">
                <span>4602 MORE</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #offersToggle
              (click)="offersToggle.classList.toggle('expand')"
            >
              <span>offers</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: offersToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="offersToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Buy More, Save More</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>No Cost EMI</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Special Price</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #discountToggle
              (click)="discountToggle.classList.toggle('expand')"
            >
              <span>discount</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: discountToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="discountToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>30% or more</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>40% or more</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>50% or more</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>60% or more</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>70% or more</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #ratingToggle
              (click)="ratingToggle.classList.toggle('expand')"
            >
              <span>customer ratings</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: ratingToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="ratingToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span class="container-rating"
                  >4 <fa-icon [icon]="star"></fa-icon> & above</span
                >
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span class="container-rating"
                  >5 <fa-icon [icon]="star"></fa-icon> & above</span
                >
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #sizeToggle
              (click)="sizeToggle.classList.toggle('expand')"
            >
              <span>size</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: sizeToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="sizeToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>2XL</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>2XS</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>38</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>3XL</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>3XS</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>40</span>
              </label>
              <label class="toggle">
                <span class="showMore">15 MORE</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #occasionToggle
              (click)="occasionToggle.classList.toggle('expand')"
            >
              <span>occasion</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: occasionToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="occasionToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Casual</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Festive</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Beach Wear</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Lounge Wear</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Party</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Formal</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Sports</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #colorToggle
              (click)="colorToggle.classList.toggle('expand')"
            >
              <span>color</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: colorToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="colorToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>White</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Black</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Yellow</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Red</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Blue</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Pink</span>
              </label>
              <label class="toggle">
                <span class="showMore">17 MORE</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #fitToggle
              (click)="fitToggle.classList.toggle('expand')"
            >
              <span>fit</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: fitToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="fitToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Slim</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Compression</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Boxy</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Super Slim</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Tailored</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Loose</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Oversized</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Regular</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #patternToggle
              (click)="patternToggle.classList.toggle('expand')"
            >
              <span>pattern</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: patternToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="patternToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Ethnic Motifs</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Woven</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Embellished</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Varsity</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Tribal Print</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Woven Design</span>
              </label>
              <label class="toggle">
                <span class="showMore">23 MORE</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #fabricToggle
              (click)="fabricToggle.classList.toggle('expand')"
            >
              <span>fabric</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: fabricToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="fabricToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Poly Silk</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Georgette</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Lyocell</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Chiffon</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Hemp</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Pure Silk</span>
              </label>
              <label class="toggle">
                <span class="showMore">22 MORE</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #collarToggle
              (click)="collarToggle.classList.toggle('expand')"
            >
              <span>collar</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{ up: collarToggle.classList.contains('expand') }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="collarToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Collarless</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Peter Pan</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Wingtip</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Hood</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Ruffle Collar</span>
              </label>
              <label class="toggle">
                <input type="checkbox" />
                <span>Lapel</span>
              </label>
              <label class="toggle">
                <span class="showMore">10 MORE</span>
              </label>
            </div>
          </section>
          <section class="container-toggle">
            <div
              class="toggle-trigger"
              #availabilityToggle
              (click)="availabilityToggle.classList.toggle('expand')"
            >
              <span>availability</span>
              <fa-icon
                [icon]="chevronRight"
                [ngClass]="{
                  up: availabilityToggle.classList.contains('expand')
                }"
              ></fa-icon>
            </div>
            <div
              class="container-toggles"
              *ngIf="availabilityToggle.classList.contains('expand')"
            >
              <label class="toggle">
                <input type="checkbox" />
                <span>Include Out Of Stock</span>
              </label>
            </div>
          </section>
        </div>
        <div class="container-product-list">
          <div class="container-hero">
            <app-breadcrumbs
              [data]="['Home', 'Clothing and Accessories', 'Top Wear']"
              maxWidth="80px"
            ></app-breadcrumbs>
            <div class="container-details">
              <p>
                If you want to stay on top of the fashion trends, then you need
                to shop for the latest and trendiest <b>topwear</b> from an
                e-commerce site Flipkart. Check out the amazing collection of
                topwear for women online and select the ones that suit you the
                best. Browse through stylish women's topwear that are offered by
                popular brands, such as Only, Jockey, U&F, Darzi, Ann Springs,
                and more. Women can style a trendy
                <a href="javascript:void(0)">tops</a> with jeggings and sandals
                to nail the perfect casual look. Try pairing
                <a href="javascript:void(0)">crop tops</a> with
                <a href="javascript:void(0)">denim shorts</a> for the perfect
                summer look. Also, check out trendy topwear for men online that
                are sold by brands, such as Allen Solly, Wildcraft, FastColors,
                Smartees, Adidas, and more. Men can pair polo
                <a href="javascript:void(0)">shirts</a> &
                <a href="javascript:void(0)">T-shirts</a> with
                <a href="javascript:void(0)">chinos</a> and loafers for the
                perfect brunch or picnic look. To nail the perfect office look,
                men can pair formal shirts with trousers and formal shoes to
                look dapper and stylish. You can also buy trendy and fashionable
                topwear for kids from your favorite online shopping site. From
                T-shirts and tops to shirts and frocks, you can find fashionable
                and comfortable clothes online for your little ones. The
                information you are reading has been last updated on 10-Apr-23.
              </p>
            </div>
            <div class="container-product-list-title">
              <h1>Topwear</h1>
              <span>(Showing 1 - 40 products of 13,995 products)</span>
            </div>
            <div class="container-sortby">
              <span>Sort By</span>
              <div
                (click)="sortby = 'popularity'"
                [ngClass]="{ activeSort: sortby === 'popularity' }"
              >
                Popularity
              </div>
              <div
                (click)="sortby = 'lth'"
                [ngClass]="{ activeSort: sortby === 'lth' }"
              >
                Price -- Low to High
              </div>
              <div
                (click)="sortby = 'htl'"
                [ngClass]="{ activeSort: sortby === 'htl' }"
              >
                Price -- High to Low
              </div>
              <div
                (click)="sortby = 'newest'"
                [ngClass]="{ activeSort: sortby === 'newest' }"
              >
                Newest First
              </div>
            </div>
          </div>
          <div class="container-products">
            <div class="container-product" *ngFor="let product of products">
              <fa-icon class="wishlistIcon" [icon]="heart"></fa-icon>
              <div class="container-image">
                <img [src]="product.image" alt="test" />
              </div>
              <div class="container-details">
                <span class="brand">{{ product.brand }}</span>
                <div class="container-title">
                  <span class="title">{{ product.title }}</span>
                  <img
                    src="assets/Icons/f-assured.png"
                    alt="Flipkart Assured"
                  />
                </div>
                <div class="container-price">
                  <span class="current">{{
                    product.price | currency : "INR" : "symbol" : "1.0-0"
                  }}</span>
                  <span class="old">{{
                    product.price - (product.price * product.discount) / 100
                      | currency : "INR" : "symbol" : "1.0-0"
                  }}</span>
                  <span class="discount">{{ product.discount }}%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="container-pagination">
            <span class="pageNo"> Page 1 of 765</span>
            <div class="pagination">
              <span
                *ngFor="let page of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                [ngClass]="{ active: page === 1 }"
                >{{ page }}</span
              >
              <a href="javascript:void(0)">next</a>
            </div>
            <span class="placeholder"></span>
          </div>
          <div class="container-help">
            <span>Did you find what you were looking for?</span>
            <div class="buttons">
              <span>Yes</span>
              <span>No</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="container-additional-data" *ngIf="products.length">
      <div class="quicklinks">
        <ng-container *ngFor="let link of quickLinks; let i = index">
          <span *ngIf="i !== 0">,</span>
          <a href="javascript:void(0)">{{ link }} </a>
        </ng-container>
      </div>
      <div class="container-topic">
        <h2>Browse Through Latest Topwear for Men, Women, and Kids</h2>
        <p>
          Are you looking for ways to refresh your wardrobe? Stay up-to-date
          with the latest fashion trends by shopping for topwear from your
          favorite online shopping site Flipkart.
          <a href="javascript:void(0)">Tops</a>,
          <a href="javascript:void(0)">shirts</a>,
          <a href="javascript:void(0)">vests</a>,
          <a href="javascript:void(0)">tank</a>
          <a href="javascript:void(0)">tops</a>,
          <a href="javascript:void(0)">blouses</a>,
          <a href="javascript:void(0)">T-shirts</a>, crop tops, and more, name
          it and you can find the one you're looking for on an online shopping
          store. Browse through the vast collection of men's wear, women's wear,
          and kid's wear online and enjoy a hassle-free online shopping
          experience. You can avail amazing deals and discounts on your
          purchases when you shop online. Also, these clothes will be safely
          delivered to your doorstep in a couple of days. Look stunning and
          stylish at every event, party, or occasion by wearing trendy tops.
          Pair them with coordinating bottom wear and the right kind of
          footwear, and be ready to receive a ton of compliments wherever you
          go. When you wear the right type of clothing, you can nail any look,
          be it casual, formal, or party wear.
        </p>
      </div>
      <div class="container-topic">
        <span>Explore Topwear Collections Online </span>
        <p>
          Keep up with the changing fashion trends by shopping for the best
          men’s wear from your favorite e-commerce store. Check out the amazing
          collection of T-shirts for men that are offered by trending brands,
          such as FastColors, Try This, Smartees, Tripr, Wildcraft, Wrangler,
          Levi's, Lee, U.S. Polo Assn., W, Peter England, and more. You can buy
          these T-shirts in different neck types, like polo neck, button-down,
          shawl neck, collared neck, cowl neck, and more. You can also check out
          formal, casual, loungewear, beachwear, party wear shirts, and more
          online. Browse through the huge collection of shirts for men that are
          offered by popular brands, such as Highlander, Rope, Peter England,
          Levi's, Asian & Fitch, Metronaut, and more. Also, check out some of
          the classy and stylish jackets, coats, blazers, and sweaters online.
        </p>
        <p>
          Whether you’re looking for office wear, party wear, casual wear, or
          home wear, online shopping sites have all types of tops that you’re
          looking for. Check out the trendy and sophisticated women’s tops
          online that are sold by brands, such as Vero Moda, People, Fleximaa,
          U&F, Tokyo Talkies, Harpa, Rebound, Wrangler, Levi's, Lee, and more.
          You can buy shirts and T-shirts for women in solid colors or go for
          printed ones as well. Browse through the plethora of women’s shirts
          and choose the ones that best suit your sense of style.
        </p>
        <p>
          You can also buy stylish topwear for kids from an online store. You
          can browse through the fabulous collection of kid’s T-shirts and kid’s
          shirts and buy the ones that will best suit your little ones. Brands,
          such as Miss & Chief, Gkidz, FabTag - Kiddeo, Allen Solly, and more
          have an amazing collection of kids’ wear.
        </p>
      </div>
      <div class="container-topic">
        <span>Buy the Best Topwear Online </span>
        <p>
          You can buy the topwear of your choice in just a few click/taps. Log
          in to Flipkart through your smartphone, tablet, or laptop, browse
          through the amazing collection of tops, shirts, and blouses, choose
          the ones that you like, add them to the cart, and buy them in a
          convenient way. You can choose a preferred payment method during the
          checkout process. Online shopping helps you save time and lets you
          purchase the items of your choice even when you’re at home, traveling,
          or at the office.
        </p>
      </div>
      <div class="container-topic">
        <p>
          Popular Searches:
          <ng-container *ngFor="let link of popularSearches; let i = index">
            <span *ngIf="i !== 0"> | </span>
            <a href="javascript:void(0)">{{ link }}</a>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ABSOLUTE BUTTON -->
<div
  class="container-btt"
  [ngStyle]="{
    transform: showBackToTop ? 'translateY(70px)' : 'translateY(0px)'
  }"
>
  <button class="backtootop" (click)="goToTop()">
    <fa-icon [icon]="chevronRight"></fa-icon> Back to top
  </button>
</div>
