<div class="container-main-navbar">
  <div class="wrapper">
    <div class="container-navbar">
      <!-- LOGO -->
      <div class="container-logo">
        <img
          src="assets/Images/flipkart-logo.png"
          alt="Flipkart Logo"
          (click)="navigate('')"
        />
        <a href="javascript:void(0)" (click)="navigate('products')"
          >Explore <span>Plus</span>
          <img src="assets/Icons/flipkart-plus.png" alt="Flipkart Plus" />
        </a>
      </div>

      <!-- SEARCH -->
      <div class="container-search">
        <input
          type="text"
          name="search"
          id="inpSearch"
          placeholder="Search for products, brands and more"
        />
        <div class="icon">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </div>
      </div>

      <!-- LOGIN -->
      <div class="container-login">
        <a href="javascript:void(0)" (click)="changeShowLogin()">Login</a>
      </div>

      <!-- Become a seller -->
      <div class="container-seller">
        <a href="javascript:void(0)">Become a Seller</a>
      </div>

      <!-- More -->
      <div class="container-more">
        <a href="javascript:void(0)"
          >More <fa-icon class="more" [icon]="chevronIcon"></fa-icon
        ></a>
        <div class="container-dropdown">
          <div class="pointer"></div>
          <ul>
            <li>
              <a href="javascript:void(0)">
                <fa-icon [icon]="bellIcon"></fa-icon> Notification
                Preferences</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <fa-icon [icon]="helpIcon"></fa-icon> 24x7 Customer Care</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <fa-icon [icon]="advertiseIcon"></fa-icon> Advertise</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <fa-icon [icon]="downloadIcon"></fa-icon> Download App</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Cart -->
      <div class="container-cart">
        <a href="javascript:void(0)"
          ><fa-icon [icon]="cartIcon"></fa-icon> Cart</a
        >
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="showLogin">
  <div class="dropbox" (click)="showLogin = false">
    <div (click)="$event.stopPropagation()">
      <app-login></app-login>
      <fa-icon [icon]="closeIcon" (click)="showLogin = false"></fa-icon>
    </div>
  </div>
</ng-container>
