@use "../../../../variables" as v;

.container-main-navbar {
  background-color: v.$color-brand-blue;
}
.container-navbar {
  display: flex;
  justify-content: center;
  min-width: 1170px;
  & > div {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
}

.container-logo {
  display: flex;
  flex-direction: column;
  img {
    width: 75px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: v.$color-white-bg;
    font-style: italic;
    font-size: 11px;
    &:hover {
      text-decoration: underline;
    }
    img {
      width: 10px;
      margin-left: 3px;
    }
    span {
      color: v.$color-primary-yellow;
      font-weight: 500;
    }
  }
}

.container-search {
  display: flex;
  margin: 0 20px;
  width: 564px;
  border-radius: 3px;
  overflow: hidden;
  input {
    padding: 5px 16px;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: v.$color-white-bg;
    border: 2px solid v.$color-white-bg;
  }
  .icon {
    color: v.$color-brand-blue;
    padding: 8px 16px;
    background-color: v.$color-white-bg;
    cursor: pointer;
  }
}

.container-login {
  margin: 0 20px;
  position: relative;
  a {
    text-decoration: none;
    background-color: v.$color-white-bg;
    padding: 6px 35px;
    font-weight: 500;
    font-size: 16px;
    color: v.$color-brand-blue;
  }
  &:hover {
    .container-dropdown-login {
      display: block;
    }
  }
  .container-dropdown-login {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 240px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    .pointer {
      position: absolute;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-top: 0;
      border-bottom-color: v.$color-white-bg;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
    .container-prompt {
      padding: 20px;
      border-bottom: 1px solid v.$color-grey-grade1;
      background-color: v.$color-white-bg;
      display: flex;
      justify-content: space-between;
      span,a{
        font-size: 14px;
        font-weight: 500;
        padding: 0;
      }
    }
    ul {
      list-style: none;
      display: flex;
      background-color: v.$color-white-bg;
      flex-direction: column;
      width: 100%;
      li {
        a {
          color: v.$color-black;
          &:hover {
            background-color: v.$color-grey-grade0;
          }
          padding: 16px 20px;
          width: 100%;
          display: flex;
          gap: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          border-bottom: 1px solid v.$color-grey-grade1;
          fa-icon {
            font-size: 14px;
            color: v.$color-brand-blue;
          }
        }
      }
    }
  }
}
.container-seller,
.container-more,
.container-cart {
  position: relative;
  margin: 0 20px;
  a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    text-decoration: none;
    color: v.$color-white-bg;
    font-weight: 500;
    img{
      height: 16px;
      width: 16px;
    }
  }
}

.container-more {
  cursor: pointer;
  position: relative;
  fa-icon {
    font-size: 10px;
    transition: all 300ms ease;
  }
  &:hover {
    fa-icon.more {
      transform: rotate(180deg);
    }
    .container-dropdown-more {
      display: block;
    }
  }
  .container-dropdown-more {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 240px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    .pointer {
      position: absolute;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-top: 0;
      border-bottom-color: v.$color-white-bg;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
    ul {
      list-style: none;
      display: flex;
      background-color: v.$color-white-bg;
      flex-direction: column;
      width: 100%;
      li {
        a {
          color: v.$color-black;
          &:hover {
            background-color: v.$color-grey-grade0;
          }
          padding: 16px 12px;
          width: 100%;
          display: flex;
          gap: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          border-bottom: 1px solid v.$color-grey-grade1;
          fa-icon {
            font-size: 14px;
            color: v.$color-brand-blue;
          }
        }
      }
    }
  }
}

.dropbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  pointer-events: fill;
  width: 100vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  pointer-events: visibleFill;
  div {
    display: flex;
    gap: 15px;

    fa-icon {
      margin-top: 15px;
      cursor: pointer;
      font-size: 1.5em;
      height: fit-content;
      color: v.$color-white-bg;
    }
  }
}
