<div class="container-main">
  <div class="wrapper">
    <div class="container-navbar">
      <!-- LOGO -->
      <div class="container-logo">
        <img
          src="../../../../assets/Images/flipkart-logo.png"
          alt="Flipkart Logo"
        />
        <a href="javascript:void(0)"
          >Explore <span>Plus</span>
          <img
            src="../../../../assets/Icons/flipkart-plus.png"
            alt="Flipkart Plus"
          />
        </a>
      </div>

      <!-- SEARCH -->
      <div class="container-search">
        <input type="text" name="search" id="inpSearch" placeholder="Search for products, brands and more">
        <div class="icon">
            <fa-icon [icon]="searchIcon" ></fa-icon>
        </div>
      </div>

      <!-- LOGIN -->
      <div class="container-login">
        <a href="javascript:void(0)">Login</a>
      </div>

      <!-- Become a seller -->
      <div class="container-seller">
        <a href="javascript:void(0)">Become a Seller</a>
      </div>

      <!-- More -->
      <div class="container-more">
        <a href="javascript:void(0)">More <fa-icon [icon]="chevronIcon"></fa-icon></a>
      </div>

      <!-- Cart -->
      <div class="container-cart">
        <a href="javascript:void(0)"><fa-icon [icon]="cartIcon"></fa-icon> Cart</a>
      </div>

    </div>
  </div>
</div>
