<div class="container-main-navbar">
  <div class="wrapper">
    <div class="container-navbar">
      <!-- LOGO -->
      <div class="container-logo">
        <img
          src="assets/Images/flipkart-logo.png"
          alt="Flipkart Logo"
          (click)="navigate('')"
        />
        <a href="javascript:void(0)" (click)="navigate('products')"
          >Explore <span>Plus</span>
          <img src="assets/Icons/flipkart-plus.png" alt="Flipkart Plus" />
        </a>
      </div>

      <!-- SEARCH -->
      <div class="container-search">
        <input
          type="text"
          name="search"
          id="inpSearch"
          placeholder="Search for products, brands and more"
        />
        <div class="icon">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </div>
      </div>

      <!-- LOGIN -->
      <div class="container-login" [ngClass]="{ml400: route.includes('cart')}">
        <a href="javascript:void(0)" (click)="changeShowLogin(true)">Login</a>
        <div class="container-dropdown-login">
          <div class="pointer"></div>
          <div class="container-prompt">
            <span>New customer?</span>
            <a href="javascript:void(0)">Sign Up</a>
          </div>
          <ul>
            <li>
              <a href="javascript:void(0)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  class=""
                  viewBox="0 0 16 14"
                >
                  <path
                    fill="#2874F1"
                    fill-rule="nonzero"
                    d="M7 .333A6.67 6.67 0 0 0 .333 7 6.67 6.67 0 0 0 7 13.667 6.67 6.67 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm0 2c1.107 0 2 .894 2 2 0 1.107-.893 2-2 2s-2-.893-2-2c0-1.106.893-2 2-2zM7 11.8a4.8 4.8 0 0 1-4-2.147C3.02 8.327 5.667 7.6 7 7.6c1.327 0 3.98.727 4 2.053A4.8 4.8 0 0 1 7 11.8z"
                  ></path>
                </svg>
                My Profile</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="assets/Icons/f-plus.svg" alt="PLUS" /> Flipkart Plus
                Zone</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="assets/Icons/orders.svg" alt="ORDERS" /> Orders</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                  width="16"
                  height="14"
                  viewBox="0 0 20 16"
                >
                  <path
                    d="M8.695 16.682C4.06 12.382 1 9.536 1 6.065 1 3.219 3.178 1 5.95 1c1.566 0 3.069.746 4.05 1.915C10.981 1.745 12.484 1 14.05 1 16.822 1 19 3.22 19 6.065c0 3.471-3.06 6.316-7.695 10.617L10 17.897l-1.305-1.215z"
                    fill="#2874F0"
                    class=""
                    stroke="#FFF"
                    fill-rule="evenodd"
                    opacity=".9"
                  ></path>
                </svg>
                Wishlist</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="12"
                  class=""
                  viewBox="0 0 16 16"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" d="M0 0h16v16H0z"></path>
                    <path
                      fill="#2874F0"
                      d="M16 9.25v2.5c0 .69-.597 1.25-1.333 1.25H1.333C.597 13 0 12.44 0 11.75v-2.5c.736 0 1.333-.56 1.333-1.25S.736 6.75 0 6.75v-2.5C0 3.56.597 3 1.333 3h13.334C15.403 3 16 3.56 16 4.25v2.5c-.736 0-1.333.56-1.333 1.25S15.264 9.25 16 9.25zM4.4 3.625v1.25h.533v-1.25H4.4zm0 2.5v1.25h.533v-1.25H4.4zm0 2.5v1.25h.533v-1.25H4.4zm0 2.5v1.25h.533v-1.25H4.4z"
                    ></path>
                  </g>
                </svg>
                Rewards</a
              >
            </li>
            <li>
              <a href="javascript:void(0)">
                <svg
                  width="16"
                  height="16"
                  class=""
                  viewBox="0 0 23 22"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g
                    fill="none"
                    fill-rule="evenodd"
                    transform="translate(-9.694 -9)"
                  >
                    <ellipse cx="20.557" cy="20" rx="20.557" ry="20"></ellipse>
                    <path d="M7 6h28v28H7z"></path>
                    <path
                      fill="#2874F0"
                      fill-rule="nonzero"
                      d="M31.5 27v1.167a2.34 2.34 0 0 1-2.333 2.333H12.833a2.333 2.333 0 0 1-2.333-2.333V11.833A2.333 2.333 0 0 1 12.833 9.5h16.334a2.34 2.34 0 0 1 2.333 2.333V13H21a2.333 2.333 0 0 0-2.333 2.333v9.334A2.333 2.333 0 0 0 21 27h10.5zM21 24.667h11.667v-9.334H21v9.334zm4.667-2.917c-.97 0-1.75-.782-1.75-1.75s.78-1.75 1.75-1.75c.968 0 1.75.782 1.75 1.75s-.782 1.75-1.75 1.75z"
                    ></path>
                  </g>
                </svg>
                Gift Cards</a
              >
            </li>
          </ul>
        </div>
      </div>
      <ng-container *ngIf="!route.includes('cart')" >
        <!-- Become a seller -->
        <div class="container-seller">
          <a href="javascript:void(0)">Become a Seller</a>
        </div>

        <!-- More -->
        <div class="container-more">
          <a href="javascript:void(0)"
            >More <fa-icon class="more" [icon]="chevronIcon"></fa-icon
          ></a>
          <div class="container-dropdown-more">
            <div class="pointer"></div>
            <ul>
              <li>
                <a href="javascript:void(0)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="14"
                    class=""
                    viewBox="0 0 12 14"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path d="M-4-3h20v20H-4z"></path>
                      <path
                        fill="#2874F1"
                        d="M6.17 13.61c-1.183 0-1.922-.723-1.922-1.88H8.09c0 1.157-.74 1.88-1.92 1.88zm4.222-5.028l1.465 1.104v1.07H0v-1.07l1.464-1.104v-2.31h.004c.035-2.54 1.33-4.248 3.447-4.652V.992C4.915.446 5.37 0 5.928 0c.558 0 1.014.446 1.014.992v.628c2.118.404 3.412 2.112 3.446 4.65h.004v2.312z"
                      ></path>
                    </g>
                  </svg>
                  Notification Preferences</a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    class=""
                    viewBox="0 0 14 17"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path
                        fill="#2874F0"
                        fill-rule="nonzero"
                        d="M12.25.542H1.75c-.833 0-1.5.675-1.5 1.5v10.5c0 .825.667 1.5 1.5 1.5h3L7 16.292l2.25-2.25h3c.825 0 1.5-.675 1.5-1.5v-10.5c0-.825-.675-1.5-1.5-1.5zm-4.5 12h-1.5v-1.5h1.5v1.5zM9.303 6.73l-.676.69c-.54.547-.877.997-.877 2.122h-1.5v-.375c0-.825.338-1.575.877-2.123l.93-.945c.278-.27.443-.646.443-1.058 0-.825-.675-1.5-1.5-1.5s-1.5.675-1.5 1.5H4c0-1.658 1.342-3 3-3s3 1.342 3 3c0 .66-.27 1.26-.697 1.687z"
                      ></path>
                    </g>
                  </svg>
                  24x7 Customer Care</a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="14"
                    class=""
                    viewBox="0 0 18 10"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path
                        fill="#2874F0"
                        fill-rule="nonzero"
                        d="M12.333 0l1.91 1.908-4.068 4.067-3.333-3.333L.667 8.825 1.842 10l5-5 3.333 3.333 5.25-5.24L17.333 5V0"
                      ></path>
                    </g>
                  </svg>
                  Advertise</a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="14"
                    class=""
                    viewBox="0 0 12 14"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path d="M-4-3h20v20H-4z"></path>
                      <path
                        fill="#2874F0"
                        fill-rule="nonzero"
                        d="M12 4.94H8.57V0H3.43v4.94H0l6 5.766 6-5.765zM0 12.354V14h12v-1.647H0z"
                      ></path>
                    </g>
                  </svg>
                  Download App</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Cart -->
        <div class="container-cart">
          <a href="javascript:void(0)" (click)="navigate('cart')"
            ><img src="assets/Icons/cart.svg" alt="Cart" /> Cart</a
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="showLogin">
  <div class="dropbox" (click)="changeShowLogin(false)">
    <div (click)="$event.stopPropagation()">
      <app-login></app-login>
      <fa-icon [icon]="closeIcon" (click)="changeShowLogin(false)"></fa-icon>
    </div>
  </div>
</ng-container>
