<div class="container-main-footer" *ngIf="!route.includes('cart')" >
  <div class="wrapper">
    <div class="container-footer">
      <div class="container-quicklinks">
        <div class="container-about">
          <p>ABOUT</p>
          <ul>
            <li><a href="javascript:void(0)">Contact Us</a></li>
            <li><a href="javascript:void(0)">About Us</a></li>
            <li><a href="javascript:void(0)">Careers</a></li>
            <li><a href="javascript:void(0)">Flipkart Stories</a></li>
            <li><a href="javascript:void(0)">Press</a></li>
            <li><a href="javascript:void(0)">Flipkart Wholesale</a></li>
            <li><a href="javascript:void(0)">Corporate Information</a></li>
          </ul>
        </div>
        <div class="container-help">
          <p>HELP</p>
          <ul>
            <li><a href="javascript:void(0)">Payments</a></li>
            <li><a href="javascript:void(0)">Shipping</a></li>
            <li><a href="javascript:void(0)">Cancellation & Returns</a></li>
            <li><a href="javascript:void(0)">FAQ</a></li>
            <li><a href="javascript:void(0)">Report Infringement</a></li>
          </ul>
        </div>
        <div class="container-consumer-policy">
          <p>CONSUMER POLICY</p>
          <ul>
            <li><a href="javascript:void(0)">Return Policy</a></li>
            <li><a href="javascript:void(0)">Terms Of Use</a></li>
            <li><a href="javascript:void(0)">Security</a></li>
            <li><a href="javascript:void(0)">Privacy</a></li>
            <li><a href="javascript:void(0)">Sitemap</a></li>
            <li><a href="javascript:void(0)">Grievance Redressal</a></li>
            <li><a href="javascript:void(0)">EPR Compliance</a></li>
          </ul>
        </div>
        <div class="container-social">
          <p>SOCIAL</p>
          <ul>
            <li><a href="javascript:void(0)">Facebook</a></li>
            <li><a href="javascript:void(0)">Twitter</a></li>
            <li><a href="javascript:void(0)">YouTube</a></li>
          </ul>
        </div>
        <div class="container-mail">
          <p>Mail Us:</p>
          <ul>
            <li><p>Flipkart Internet Private Limited,</p></li>
            <li><p>Buildings Alyssa, Begonia &</p></li>
            <li><p>Clove Embassy Tech Village,</p></li>
            <li><p>Outer Ring Road, Devarabeesanahalli Village,</p></li>
            <li><p>Bengaluru, 560103,</p></li>
            <li><p>Karnataka, India</p></li>
          </ul>
        </div>
        <div class="container-address">
          <p>Registered Office Address:</p>
          <ul>
            <li><p>Flipkart Internet Private Limited,</p></li>
            <li><p>Buildings Alyssa, Begonia &</p></li>
            <li><p>Clove Embassy Tech Village,</p></li>
            <li><p>Outer Ring Road, Devarabeesanahalli Village,</p></li>
            <li><p>Bengaluru, 560103,</p></li>
            <li><p>Karnataka, India</p></li>
            <li><p>CIN : U51109KA2012PTC066107</p></li>
            <li>
              <p>Telephone: <a href="javascript:void(0)">044-45614700</a></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-footer-info">
        <span
          ><img src="assets/Icons/suitcase.svg" alt="Suitcase" />
          Become a Seller</span
        >
        <span
          ><img src="assets/Icons/star.svg" alt="Suitcase" />
          Advertise</span
        >
        <span
          ><img src="assets/Icons/giftcard.svg" alt="Suitcase" />
          Gift Cards</span
        >
        <span
          ><img src="assets/Icons/help.svg" alt="Suitcase" /> Help
          Center</span
        >
        <span>&copy; 2007-2023 Flipkart.com</span>
        <span
          ><img
            src="assets/Images/payment-methods.svg"
            alt="Payment Methods"
        /></span>
      </div>
    </div>
  </div>
</div>
