<div class="container-home">
  <!-- Quick Navs -->
  <div class="container-quicknavs">
    <div class="wrapper1280">
      <div class="quicknav">
        <img src="assets/Images/grocery_thumb.webp" alt="Grocery" />
        <p>Grocery</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/mobiles_thumb.webp" alt="Mobiles" />
        <p>Mobiles</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/fashion_thumb.webp" alt="Fashion" />
        <p>Fashion</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/electronics_thumb.webp" alt="Electronics" />
        <p>Electronics</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/home_thumb.webp" alt="Home" />
        <p>Home</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/appliences_thumb.webp" alt="Appliances" />
        <p>Appliances</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/travel_thumb.webp" alt="Travel" />
        <p>Travel</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/offers_thumb.webp" alt="Offers" />
        <p>Top Offers</p>
      </div>
      <div class="quicknav">
        <img
          src="assets/Images/beauty_thumb.webp"
          alt="Beauty, toys and more"
        />
        <p>Beauty, Toys & More</p>
      </div>
      <div class="quicknav">
        <img src="assets/Images/two_wheelers_thumb.webp" alt="Two Wheelers" />
        <p>Two Wheelers</p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <!-- Hero Slider -->
    <div class="container-hero-slider">
        
    </div>
  </div>
</div>
