@use "../../../../variables" as v;
.container-main {
  display: flex;
  font-size: 12px;
  color: v.$color-grey-grade4;
}
.breadcrumb {
  display: inline-block;
  margin: 0 10px;
  color: v.$color-grey-grade3;
}
.data {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  &:not(:last-of-type):hover {
    user-select: none;
    cursor: pointer;
    max-width: fit-content !important;
    color: v.$color-brand-blue;
  }
}
